---
name: Release to Ansible Galaxy
on:  # yamllint disable-line rule:truthy
  workflow_dispatch:
  release:
    types: [published]

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: publish to galaxy
        uses: ansible-actions/ansible-galaxy-action@v1.2.0
        with:
          galaxy_version: ${{ github.ref_name }}
          galaxy_api_key: ${{ secrets.galaxy_api_key }}